# Virtual Environment

venv/

# Environment Variables

.env

# Python Cache

**pycache**/
*.pyc

# Uploaded Files

uploads/*
!uploads/.gitkeep

# Generated QR Codes

qr_codes/*
!qr_codes/.gitkeep

# VS Code

.vscode/

# macOS

.DS_Store
